<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdd.consulclient.dao.EssayDao">

        <select id="selectAll"  resultType="com.zdd.consulclient.entity.Essay">
            SELECT * FROM t_essay e  WHERE e.ename LIKE CONCAT("%",#{like},"%") AND e.`currentTime` BETWEEN #{start} AND  #{end}
        </select>

    <insert id="insertOne">

    insert into t_essay(ename,econtent,imgUrl,currentTime) values (#{e.ename},#{e.econtent},#{e.imgUrl},now())
    </insert>
</mapper>